* {
    font-family: Roboto Slab, Helvetica, sans-serif;
}

body {
    margin: 0%;
}

ul {
    list-style: none;
    display: flex;
    background-color: #1F2937;
    color: white;
    margin: 0;
    height: 100px;
    align-items: center;
    gap: 20px;
}

ul .header {
    font-size: large;
    margin-right: auto;
}

ul .link{
    margin-right:20px;
    color: lightgrey
}

